---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kai Spencer" description="About Kai Spencer Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Kai Spencer at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a full-stack software engineer with a passion for building beautiful, accessible
						and performant web applications working for <a href="https://www.england.nhs.uk/">NHS England</a>. 
						I have a keen interest in the latest web technologies and I am always looking to learn
						new things. 

					</p>
					<p>
						Aside from my day job, I also consult for a number of startups and businesses, including all aspects of software
						development from design to deployment. If you are interested in working with me, lets <a href='#call-to-action'>hop on a call</a> and discuss your project.
						

					</p>
					<p>
						Outside of work I am a keen cyclist and musician, a member of the Army Reserve with The Band of the Royal Yorkshire Regiement.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BSc (Hons) Digital Technology Solutions (Software Engineering Pathway) - University of Roehampton</p>
				</div>
			</section>
			<section>
				<h1 class="section-main-title">Technology</h1>
				<h2 class="section-title">Frontend</h2>
				<div class="content" style="display: flex;">
					<ul>
						<li>Typescript</li>	
						<li>NodeJS</li>	
					</ul>
					<ul>
						<li>React</li>	
						<li>NextJS</li>	
						<li>Angular</li>	
					</ul>
				</div>
				<h2 class="section-title">Backend</h2>
				<div class="content" style="display: flex;">
					<ul>
						<li>Typescript</li>	
						<li>Python</li>	
					</ul>
					<ul>
						<li>Serverless</li>	
						<li>Event Driven Architecture</li>	
					</ul>
				</div>
				<h2 class="section-title">Cloud</h2>
				<div class="content" style="display: flex;">
					<ul>
						<li>Google Cloud Platform</li>	
						<li>Amazon Web Services</li>	
					</ul>
				</div>
			</section>
		</main>
		<div id="call-to-action">
			<ContactCTA />
		</div>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-main-title {
		grid-column-start: 1;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}
	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
