---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Blog | Kai Spencer"
	description="Kai Spencer's blog."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Blog"
				tagline=""
				align="start"
			/>

			<Grid variant={blogPosts.length>1?"offset":undefined}>
				{
					blogPosts.map((blogPost) => (
						<li>
							<BlogPostPreview project={blogPost} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
